.LoginButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 70px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(0, 255, 183, 0.888);
        border-color: aquamarine;

        @media (max-width:360px) {
            height: 40px;
            
        }

        
    }


    input {
        height: 55px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        
        @media (max-width:360px) {
            height: 40px;
        }
    }
        
}