
.cadastro-de-eventos {
   background: #ffffff;
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
   }

.group-10 {
   position: absolute;
   inset: 0;
   
}

.formulario {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #000000;
   border-radius: 7px;
   border-style: solid;
   border-color: #9778e9;
   border-width: 4px;
   width: 900px;
   height: 800px;
   position: absolute;
   left: 27%;
   top: 13%;
   gap: 20px;
   
}

.formulario > label{
   color: #ffffff;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 2em;
}

.formulario > input {
   background: rgba(0, 255, 183, 0.66);
   color: #ffffff;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 2em;
   border-radius: 19px;
   width: 800px;
   height: 61.57px;
   text-align: center;
}

.formulario > div{
   
   display: flex;
   gap: 7%;
}

.formulario > div > input{
   background: rgba(0, 255, 183, 0.66);
   color: #ffffff;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 2em;
   border-radius: 19px;
   width: 250px;
   height: 61.57px;
}


.faixa-giants {
   position: absolute;
   left: -37px;
   top: 989px;
   overflow: visible;
}

.faixa-giants2 {
   position: absolute;
   left: -74px;
   top: 26px;
   overflow: visible;
}

