:root {
    --fonte-inter-bold-font-family: "Inter-Bold", Helvetica;
    --fonte-inter-bold-font-weight: 700;
    --fonte-inter-bold-font-size: 12px;
    --fonte-inter-bold-letter-spacing: 0px;
    --fonte-inter-bold-line-height: normal;
    --fonte-inter-bold-font-style: normal;
  }
  