.consulta-de-eventos {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .consulta-de-eventos .div {
    background-color: #000000;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .consulta-de-eventos .akali-bola {
    position: absolute;
    width: 397px;
    height: 538px;
    top: 197px;
    left: 1519px;
    object-fit: cover;
  }
  
  .consulta-de-eventos .overlap {
    position: absolute;
    width: 1486px;
    height: 781px;
    top: 149px;
    left: 0;
  }
  
  .consulta-de-eventos .quiana-bola {
    position: absolute;
    width: 453px;
    height: 540px;
    top: 46px;
    left: 0;
    object-fit: cover;
  }
  
  .consulta-de-eventos .group {
    position: absolute;
    width: 1065px;
    height: 781px;
    top: 0;
    left: 421px;
  }
  
  .consulta-de-eventos .pesquisa-por-nome-id {
    position: absolute;
    width: 1047px;
    height: 53px;
    top: 0;
    left: 0;
  }
  
  .consulta-de-eventos .overlap-group {
    position: relative;
    width: 1045px;
    height: 53px;
  }
  
  .consulta-de-eventos .rectangle {
    width: 1008px;
    height: 53px;
    left: 26px;
    border-radius: 17px;
    border: 3px solid;
    border-color: #9124ff;
    position: absolute;
    top: 0;
  }
  
  .consulta-de-eventos .vector {
    position: absolute;
    width: 40px;
    height: 34px;
    top: 9px;
    left: 984px;
  }
  
  .consulta-de-eventos .text-wrapper {
    position: absolute;
    width: 1045px;
    height: 53px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .overlap-2 {
    position: absolute;
    width: 1071px;
    height: 709px;
    top: 73px;
    left: 0;
  }
  
  .consulta-de-eventos .filtro {
    position: absolute;
    width: 1071px;
    height: 54px;
    top: 0;
    left: 0;
  }
  
  .consulta-de-eventos .overlap-3 {
    position: relative;
    width: 1065px;
    height: 54px;
  }
  
  .consulta-de-eventos .rectangle-2 {
    width: 1011px;
    height: 54px;
    left: 26px;
    border-radius: 17px;
    border: 3px solid;
    border-color: #9124ff;
    position: absolute;
    top: 0;
  }
  
  .consulta-de-eventos .text-wrapper-2 {
    position: absolute;
    width: 333px;
    height: 53px;
    top: 0;
    left: 732px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .text-wrapper-3 {
    position: absolute;
    width: 337px;
    height: 53px;
    top: 0;
    left: 366px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .text-wrapper-4 {
    position: absolute;
    width: 337px;
    height: 53px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .tabela-eventos {
    position: absolute;
    width: 1065px;
    height: 655px;
    top: 53px;
    left: 0;
    background-color: #0302029c;
    border-radius: 29px;
  }
  
  .consulta-de-eventos .evento {
    width: 1013px;
    height: 125px;
    top: 486px;
    position: absolute;
    left: 26px;
  }
  
  .consulta-de-eventos .overlap-group-2 {
    position: relative;
    width: 1011px;
    height: 125px;
  }
  
  .consulta-de-eventos .rectangle-3 {
    width: 1011px;
    height: 124px;
    left: 0;
    background-color: #00ffb7a8;
    border-radius: 29px;
    position: absolute;
    top: 0;
  }
  
  .consulta-de-eventos .text-wrapper-5 {
    position: absolute;
    width: 1002px;
    height: 124px;
    top: 1px;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .overlap-wrapper {
    width: 1017px;
    height: 125px;
    top: 21px;
    position: absolute;
    left: 26px;
  }
  
  .consulta-de-eventos .text-wrapper-6 {
    position: absolute;
    width: 290px;
    height: 124px;
    top: 0;
    left: 19px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .text-wrapper-7 {
    position: absolute;
    width: 297px;
    height: 124px;
    top: 1px;
    left: 341px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .text-wrapper-8 {
    position: absolute;
    width: 293px;
    height: 122px;
    top: 2px;
    left: 663px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .overlap-group-wrapper {
    width: 1017px;
    height: 124px;
    top: 177px;
    position: absolute;
    left: 26px;
  }
  
  .consulta-de-eventos .overlap-4 {
    position: relative;
    width: 1011px;
    height: 124px;
    background-color: #00ffb7a8;
    border-radius: 29px;
  }
  
  .consulta-de-eventos .text-wrapper-9 {
    position: absolute;
    width: 297px;
    height: 124px;
    top: 0;
    left: 341px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .text-wrapper-10 {
    position: absolute;
    width: 293px;
    height: 122px;
    top: 0;
    left: 663px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .consulta-de-eventos .div-wrapper {
    width: 1017px;
    height: 124px;
    top: 332px;
    position: absolute;
    left: 26px;
  }
  
  .consulta-de-eventos .faixa-giants {
    position: absolute;
    width: 1920px;
    height: 61px;
    top: 28px;
    left: 0;
  }
  
  .consulta-de-eventos .img {
    position: absolute;
    width: 1920px;
    height: 61px;
    top: 990px;
    left: 0;
  }
  