body {
    background-color: #080a10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-style: normal;
    line-height: normal;
}


.menu {    
    position: absolute;
    top: 14%;
    left: 31%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pesquisa {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 3px solid #9224FF;
}


.filtro{

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 53.721px;

    border-radius: 17px;
    border: 3px solid #9224FF;

}

.tabela-eventos-div {
    width: 100%;
    height: 655.459px;

    border-radius: 29px;
    background: rgba(3, 2, 2, 0.61);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.tabela-eventos {
    display: flow-root;
    font-size: 0.8em;
    border-radius: 20px;
    gap: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

tr:hover {
    background-color: #9a35ff73;
}

th{
    font-size: 1.5em;
}

.evento {

    width: 100%;
    height: 125px;

    border-radius: 29px;
    background: rgba(0, 255, 183, 0.66);

    display: flex;
    justify-content: space-around;
    align-items: center;

}



.quiana {
    position: absolute;
    top: 25%;
    left: 0px;
    opacity: 0.7;
}

.akali {
    position: absolute;
    top: 25%;
    left: 75%;
    opacity: 0.7;
}

.faixa-giants {
    position: absolute;
    top: 25px;
    left: 10px;
}


.faixa-giants2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
     
}

/* iPad Air */

@media (max-width: 820px) {
    /* .pagina {
        width: 820px;
        height: 1180px;
    } */
    
    .menu {
        position: absolute;
        top: 566px;
        left: 50px;
        width: 150%;
        height: 600px;
    }

    .faixa-giants {
        top: 435px;
    }

    .faixa-giants2 {
        top: 1257px;
    }
}

/* Samsung S20 / IPhone X */

@media (max-width: 412px) {
    .pagina {
        width: 412px;
        height: 915px;
    }
    
    
    .menu {
        position: absolute;
        top: 530px;
        left: 20px;
        width: 90%;
        height: 915px;
        font-size: 0.6em;
    }

    .faixa-giants {
        top: 496px;
    }

    .faixa-giants2 {
        top: 1318px;
    }
}

/* Samsung Galaxy S8 */

@media (max-width: 360px) {
    .pagina {
        width: 360px;
        height: 740px;
    }

    .menu {
        position: absolute;
        top: 530px;
        left: 20px;
        width: 90%;
        height: 740px;
    }

    .faixa-giants {
        top: 458px;
    }

    .faixa-giants2 {
        top: 1238px;
    }
}

